<?xml version="1.0" encoding="utf-8" ?>
<ServiceMonitor>
	<Services>
		<Service Name="Service To Monitor">
			<MemoryLimitMB>5000</MemoryLimitMB>
			<AutoRestartTime>4:30</AutoRestartTime>
			<AutoRestartFrequency>Daily</AutoRestartFrequency>
			<ClearMSMQ>TRUE</ClearMSMQ>
		</Service>
	</Services>
	<SMTP>
		<Server>smtp.example.com</Server>
		<ToEmail>ITManager@example.com</ToEmail>
		<FromEmail>MonitoringService@example.com</FromEmail>
	</SMTP>
</ServiceMonitor>